* {
    margin: 0;
    padding: 0;
}


body {
    background-color: #D6CDCD; 
}


/*div {
    border: 1px solid red;
}*/


/* PAGE  ###################################################################################################*/

#gym-tonic-page {
}


#gym-tonic-header, #gym-tonic-content, #gym-tonic-footer {
}



/* HEADER  ###################################################################################################*/


#gym-tonic-header {
    background-image: url("../images/header-background.png");
}


.logo-colmn {
    float: left;
}


.logo {
    display: block;
    margin: 40px 0 0 10px;
}

.nav-colmn {
    float: right;
}


.nav-bar {
    list-style-type: none;
    margin: 0 20px 0 0;
}


.nav-bar li {
    display: inline;
    float: left;
}


.nav-bar li a:link {
    display: block;
    margin-left: 40px;
    font-family: Sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #4D4343;
}



.nav-bar li a:visited {
    text-decoration: none;
    color: #ab253e;
}



.nav-bar li a:hover {
    text-decoration: none;
    color: #004f87;
    border-top: 2px solid #004f87;
    padding-top: 10px;
}








/* CONTENT  ###################################################################################################*/


/* ROW  ########################################*/

.row {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
    margin: 0 auto;
}


.row:before,
.row:after {
    content:"";
    display:table;
}


.row:after {
    clear:both;
}


/* COLUMN  #######################################*/

.span-3-of-12 {
        width: 23.8%;
}


.span-6-of-12 {
        width: 49.2%; 
}


/* GALLERY  #######################################*/

.gallery {
    margin: 5px;
    display: inline-block;
}

.gallery img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

h2 {
    padding: 40px 0 0 0;
    font-family: Sans-serif;
    font-size: 30px;
}


h3 {
    padding: 20px 0 10px 0;
    font-family: Sans-serif;
    font-size: 20px;
}


/* FOOTER  ###################################################################################################*/


#gym-tonic-footer {
    background-color: #000000;
    padding-bottom: 100px;
}


.media {
    text-align: center;
}


.social-links a{
    margin: 20px;
}



h4 {
    padding: 60px 0 20px 0;;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
}


.social-links img {
    width: 40px;
    height: 40px;
}











